<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:p="http://primefaces.org/ui">

<h:head>
	<title>SpringFaces - Private page</title>
</h:head>

<h:body>
	<h:form>	
		<h1>SpringFaces - Private page</h1>
		
		<strong>User: #{userBean.name}</strong> (<h:outputLink value="#{request.contextPath}/logout">Logout</h:outputLink>)
		<p>Welcome to the ultimate tested stack of these libraries:
		<ul>
			<li>Java EE 6</li>
			<li>Java Server Faces 2.2</li>
			<li>Spring Core 4.0.1</li>
			<li>Spring Security 3.2</li>
			<li>Primefaces 4.0</li>
			<li>Hibernate 4.3</li>
			<li>MySQL</li>
			<li>SLF4J &amp; LOG4J</li>
		</ul>
		Basic structure of folders and files, with examples.
		</p>
	</h:form>
</h:body>
</html>
